body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    text-align: left;
    background: url(http://key.visualarts.gr.jp/common/bg_body.gif) #F5F5EE repeat-x;
}

h1 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: rgb(10, 30, 216);
}

p {
    margin: 0;
    padding: 0;
}

h2 {
    background-color: aqua;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(153, 219, 221);
}

.img {
    width: 500px;
}

hr {
    color: rgb(10, 146, 236);
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 0;
}

ul,
ol {
    font-size: 20px;
    font-style: oblique;
    color: rgb(15, 222, 250);
}

audio {
    margin: 0;
    padding: 0;
    width: 10%;
    position: fixed;
}

.ani {
    background-image: url("1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: myfirst 25s infinite;
}

@keyframes myfirst {
    0% {
        background-image: url("1.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
    }
    100% {
        background-image: url("1.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
    }
}

.footer {
    margin: 0 auto;
    padding: 0;
    width: 800px;
}

ol {
    margin: 0;
}

.time1 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
}

@media(max-width:1000px) {
    audio {
        display: none;
    }
    @media(max-width:800px) {
        .container {
            width: 100%;
            background-size: 100%;
        }
        .footer {
            width: 100%;
        }
        @media(max-width:500px) {
            .img {
                width: 100%;
            }
        }
    }
}

img {
    transition: 5s;
}

img:hover {
    transform: rotate(360deg);
}

h1 {
    transition: 2s;
}

h1:active {
    font-size: 50px;
}